.table-admin {
    width: 100%;
    border-collapse: collapse;
    background: #222;
    color: #fff;
}
.table-admin th, .table-admin td {
    padding: 12px;
    border-bottom: 1px solid #444;
}
.table-admin tr:hover {
    background: #333;
}
.btn-view {
    background: #0077ff; padding:6px 10px;
}
.btn-delete {
    background: #dd3333; padding:6px 10px;
    border:none; cursor:pointer;
}


