/* ESPACE AVEC LE HEADER */
.artist-profile-container {
    max-width: 1100px;
    margin: 100px auto 50px auto;
    padding: 20px;
}

/* HEADER */
.artist-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.artist-photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

/* BADGE */
.badge-rising {
    background: #ff5b00;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: 10px;
}

/*bouton se connecter pour s'abonner*/
.btn-follow{
    color: #0077ff;
}

/* COMPTEUR */
.followers-count {
    color: #0077ff;
    font-size: 14px;
    margin-bottom: 6px;
}

/* SECTIONS */
.artist-section {
    margin-bottom: 40px;
}

.artist-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* SOCIAL */
.social-links a {
    display: inline-block;
    margin-right: 12px;
    color: #0077ff;
    font-weight: 500;
}

/* GRID MUSIQUE + VIDEOS */
.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.media-card {
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.media-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.video-frame {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .artist-header {
        flex-direction: column;
        text-align: center;
    }
}
