/* ==============================
   CONTACT (même système auth)
============================== */

.contact-box {
    max-width: 460px;
}

/* textarea style cohérent */
.auth-form textarea {
    background: #1b1b1b;
    border: 1px solid #2a2a2a;
    border-radius: 10px;
    padding: 12px;
    color: #fff;
    resize: none;
    font-size: 14px;
    transition: border .2s;
}

.auth-form textarea:focus {
    outline: none;
    border-color: goldenrod;
}

/* petit ajustement hauteur */
.auth-box.contact-box {
    animation: fadeSlide .6s ease;
}
