/* ESPACEMENT GLOBAL DE TOUTES LES SECTIONS DE NEWS */
.news-details,
.news-artists,
.news-images {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* évite de coller aux bords */
    padding: 20px 0;
    
}

/* IMAGE PRINCIPALE */
.news-cover img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-top: 80px; /* espace sous le header */
    border-radius: 12px;
}

/* CONTENU DU TEXTE */
.news-content {
    margin-top: 30px;
}
.news-title {
    font-size: 2rem;
    margin-bottom: 10px;
}
.news-date {
    color: goldenrod;
    margin-bottom: 20px;
}
.news-text {
    line-height: 1.7;
    font-size: 1rem;
}

/* SECTIONS TITRES */
.section-title {
    font-size: 1.8rem;
    margin: 40px 0 20px;
}

/* GRID DES ARTISTES */
.artists-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px 0;
}
.artist-card {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
.artist-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* GRID DES IMAGES DE LA GALERIE */
.gallery-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px 0;
}
.gallery-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* BOUTON RETOUR */
.btn-small-container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}
.btn-small-back {
    padding: 10px 18px;
    background: #000;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}
.btn-small-back:hover {
    background: #d4af37;
}

/* Centrage Pagination */
.pagination nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}

/* UL FLEX */
.pagination nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

/* Liens page */
.pagination nav ul li a,
.pagination nav ul li span {
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    color: #0A0A0A;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.2s;
}

/* Page active */
.pagination nav ul li span[aria-current="page"] {
    background: #0A0A0A;
    color: #ffffff;
    font-weight: bold;
    border-color: #0A0A0A;
}

/* Hover */
.pagination nav ul li a:hover {
    background: #0A0A0A;
    color: #fff;
}

/* Liens désactivés */
.pagination nav ul li span[aria-disabled="true"] {
    opacity: 0.3;
    cursor: not-allowed;
}

